<!--  Store Header  -->
<header>
  <h1 class="text-center">Flatlander Crafted Gems</h1>
  <h2 class="text-center">an Angular store</h2>
  <store-registration></store-registration>
</header>

<!--  Products Container  -->
<div class="list-group">
  <!--  Product Container  -->
  <section id="newGemForm">
    <label for="name">Name<input type="text" name="name" ng-model="newGemstone.name"></label>
    <label for="price">Price<input label="price" value="price" type="text" name="price" ng-model="newGemstone.price"></label>
    <label for "shine">Shine<input label="shine" value="shine" type="text" name="shine" ng-model="newGemstone.shine"></label>
    <button ng-click="create(newGemstone)">Create Gemstone</button>
  </section>

  <div class="list-group-item" ng-repeat="product in products">
    <!-- <product-title></product-title> -->
    <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em>
    </h3>
    <!-- Image Gallery  -->
    <!-- <product-gallery></product-gallery> -->

    <div ng-show="product.images.length">
      <div class="img-wrap">
        <img ng-src="{{product.images[gallery.current]}}" />
      </div>
      <ul class="img-thumbnails clearfix">
        <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
          <img ng-src="{{image}}" />
        </li>
      </ul>
    </div>

    <!-- Product Tabs  -->
    <product-tabs></product-tabs>


  <ul class="nav nav-pills">
    <li ng-class="{ active:tab.isSet(1) }">
      <a href="" ng-click="tab.setTab(1)">Description</a>
    </li>
    <li ng-class="{ active:tab.isSet(2) }">
      <a href="" ng-click="tab.setTab(2)">Specs</a>
    </li>
    <li ng-class="{ active:tab.isSet(3) }">
      <a href="" ng-click="tab.setTab(3)">Reviews</a>
    </li>
  </ul>

  <!--  Description Tab's Content  -->
  <div ng-show="tab.isSet(1)">
    <h4>Description</h4>
    <blockquote>{{product.description}}</blockquote>
  </div>


  <!--  Spec Tab's Content  -->
  <div ng-show="tab.isSet(2)">
    <h4>Specs</h4>
    <blockquote>Shine: {{product.shine}}</blockquote>
  </div>

  <!--  Review Tab's Content  -->
  <div ng-show="tab.isSet(3)">
    <!--  Product Reviews List -->
    <ul>
      <h4>Reviews</h4>
      <li ng-repeat="review in product.reviews">
        <blockquote>
          <strong>{{review.stars}} Stars</strong>
          {{review.body}}
          <cite class="clearfix">{{review.author}}</cite>
        </blockquote>
      </li>
    </ul>

    <!--  Review Form -->
    <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>

      <!--  Live Preview -->
      <blockquote>
        <strong>{{reviewCtrl.review.stars}} Stars</strong>
        {{reviewCtrl.review.body}}
        <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
      </blockquote>

      <!--  Review Form -->
      <h4>Submit a Review</h4>
      <fieldset class="form-group">
        <select ng-model="reviewCtrl.review.stars" required class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
          <option value="">Rate the Product</option>
        </select>
      </fieldset>
      <fieldset class="form-group">
        <textarea ng-model="reviewCtrl.review.body" required class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
      </fieldset>
      <fieldset class="form-group">
        <input ng-model="reviewCtrl.review.author" type="email" required class="form-control" placeholder="jimmyDean@example.org" title="Email" />
      </fieldset>
      <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
      </fieldset>
    </form>
  </div>



    <!-- Editing -->
    <button data-ng-click="product.editing = true">Edit</button>
    <button data-ng-click="product.deleteConfirm = true" data-ng-hide="product.deleteConfirm">Delete</button>

    <div data-ng-show="product.editing">
      <input type="text" data-ng-model="product.name">
      <input type="text" data-ng-model="product.description">
      <input type="text" data-ng-model="product.price">
      <input type="text" data-ng-model="product.shine">
      <button data-ng-click="update(product)">Save</button>
      <button data-ng-click="product.editing = false">Cancel</button>
      <ul ng-repeat="error in errors">
        <li>Error: {{error}}</li>
      </ul>
    </div>

    <div data-ng-show="product.deleteConfirm">
      <button data-ng-click="destroy(product)">Confirm</button>
      <button data-ng-click="product.deleteConfirm = false">Cancel</button>
    </div>

  </div>
</div>
